.css1{
    color:purple;
}

.cse{
    color:violet;
    background-color:purple;
}

.it{
    color: purple;
    background-color: violet;
}

.c1{
    border: 5px solid violet;
}

.c2{
    background-color: plum;
}

.boxc{
    border: 2px dashed purple;
    background-color: black;
}
