<!-- <h1>WELCOME {{ name }}</h1> -->
<!--String Interpolation one way data binding-->
<!-- <h1>WELCOME TO {{ cse.lname }}</h1> -->
<!--String Interpolation with object -->
<!-- <h1 [style.color]="csecolor">WELCOME TO ANGULAR JS</h1>
<h1 [style]="csestyle">WELCOME TO STYLE BINDING</h1> -->
<!-- Style  and class binding-->
<!-- <h1 [style.color]="rating < 4 ? 'red' : 'green'">WELCOME TO ANGULAR JS</h1>
<h1 [style.fontSize]="check ? '50px' : '10px'">STYLE BINDING USING BOOLEAN</h1>
<h1 [class]="'css1'">EXAMPLE OF CLASS BINDING</h1>
<h1 [class]="cses ? 'cse' : 'it'">CLASS BINDING ON CONDITION</h1> -->
<!-- <h1 [class]="{ c1: c1apply, c2: c2apply }">
  CLASS BINDING USING TWO CLASSES AND CONDITIONS
</h1> -->
<!-- <img
  [src]="path"
  alt="no-image"
  height="200"
  width="200"
  class="{{ styles }}"
/> -->
<!-- <h1 [style.color]="csecolor">Name:{{ names }}</h1> -->
<!--Event Binding-->
<!-- <p (click)="rocks()">Click here to change</p> -->

<!-- <button (click)="disp()">Click Me!</button> -->


<button (click)="click()">Click Me</button>
<h1>{{msg}}</h1>